// The font should be at least 16px for readability.
$font-size: 18px;

// System sans-serif font stack
$system-sans-serif: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Source Sans Pro', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
// System serif stack
$system-serif: 'Bree Serif', 'Apple Garamond', 'Baskerville', 'Georgia', 'Times New Roman', 'Droid Serif', 'Times', 'Source Serif Pro', serif;
// System mono stack
$system-monospace: 'SF Mono', 'Monaco', 'Hack', 'Inconsolata', 'Fira Mono', 'Droid Sans Mono', 'Source Code Pro', monospace;
$fancy-font: 'Voltaire';

$spacing-unit: 1.2rem !default;
// Body settings inspired by bettermotherfuckingwebsite.com.
$line-height: 1.6;
$margin: 20em auto;
$padding: 2em;

/* Coolors Exported Palette - coolors.co/0c120c-c20114-6d7275-c7d6d5-ecebf3 */
$smoky-black: rgba(12, 18, 12, 1);
$harvard-crimson: rgba(194, 1, 20, 1);
$nickel: rgba(109, 114, 117, 1);
$light-gray: rgba(199, 214, 213, 1);
$anti-flash-white: rgba(236, 235, 243, 1);

/* Coolors Exported Palette - coolors.co/05668d-427aa1-ebf2fa-679436-a5be00 */
$sea-blue: rgba(5, 102, 141, 1);
$queen-blue: rgba(66, 122, 161, 1);
$anti-flash-white2: rgba(235, 242, 250, 1);
$maximum-green: rgba(103, 148, 54, 1);
$limerick: rgba(165, 190, 0, 1);

html {
  font-size: $font-size;
}

body {
  background-color: $anti-flash-white2;
  color: $smoky-black;
  font-family: $system-sans-serif;
  font-size: 1rem;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
  line-height: $line-height;
  margin: 0;
  max-width: 50em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  ul,
  ol,
  dl,
  figure,
  %vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
  }
}

header {
  h1 {
    font-size: 2em;
    font-family: $fancy-font;
    text-shadow: 4px 5px 5px rgba(33, 33, 33, .25);
    color: $queen-blue;
  }

  border-bottom: 2px solid $sea-blue;
  margin-bottom: 1em;
}

h1 {
  font-size: 1.8em;
  font-family: $system-serif;
}

h2 {
  font-family: $system-serif;
  font-size: 1.6em;
  border-bottom: solid 0.1em $nickel;
}

h3 {
  font-family: $system-serif;
  font-size: 1.4em;
}

h4 {
  font-family: $system-serif;
  font-size: 1.2em;
  text-decoration: underline;
}

h5 {
  font-family: $system-serif;
  font-size: 1.1em;
  font-style: italic;
}

h6 {
  font-family: $system-serif;
  font-size: 1em;
  margin-bottom: 0.5rem;
}

code,
pre {
  font-family: $system-monospace;
}

// Blockquotes
blockquote {
  border-left: 4px solid $nickel;
  color: $nickel;
  font-style: italic;
  padding-left: $spacing-unit / 2;

  > :last-child {
    margin-bottom: 0;
  }
}

footer {
    margin-top: 1em;
    border-top: 2px solid $sea-blue;
}

.red-heart {
    color: $harvard-crimson;
}

figure {
  margin-left: 1em;
  margin-right: 0;
  padding: .5em;
  background-color: $light-gray;
  color: $smoky-black;
  box-shadow: 7px 7px 5px 0px rgba(33, 33, 33, 0.75);
}

figcaption {
  font-size: 1em;
  text-align: right;
  padding-top: .75em;
  padding-bottom: .25em;
}

img,
iframe {
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: $sea-blue;
  font-size: 1em;
  text-decoration: underline;
  transition-delay: 0.1s;
  transition-duration: 0.3s;
  transition-property: color, background-color;
  transition-timing-function: linear;
}

a:visited {
  color: $harvard-crimson;
  font-size: 1em;
}

a:hover {
  background: $queen-blue;
  color: #ffffff;
  font-size: 1em;
  text-decoration: none;
}

a:active {
  background-color: $sea-blue;
  color: $anti-flash-white2;
  color: white;
  font-size: 1em;
}
